html {
    height: 100%;
}

body {
    overflow-x: hidden;
    background-color: rgb(221, 221, 221);
    min-height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

/* Navbar */
.bg-dark {
    background-color: #444 !important;
}


h2, .navbar-brand, #copyBtn {
    font-family: 'Yellowtail', cursive;
}

.navbar {
    padding: 0;
    border-bottom: 3px solid black;
}

.navbar-brand {
    font-size: 30px;
    margin: 0 auto;
    padding: 20px 0px;
}

/* Main */
main {
    margin: 25px 5%;
    box-shadow: 2px 9px 15px -3px #444;
}

main h2 {
    font-size: 50px;
}

.cardTitle {
    display: flex;
    flex-direction: row;
}

#copyBtn {
    font-size: 25px;
    margin: 15px 15px 0 0;
    position: absolute;
    right: 0;
    width: 200px;
}

hr {
    height: 2px;
    background-color: #444;
    border: none;
}

.card {
    border: 3px solid #444;
}

.card-body {
    padding: 1.04rem;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

textarea {
    border-radius: 6px;
    border: 2px solid #444;
    font-size: 1.2rem;
    height: 100px;
    margin: 20px auto;
    padding-top: 10px;
    resize: none;
    text-align: center;
    width: 100%;
}

textarea:focus {
    outline: none;
}

/* Footer */
footer {
    margin-top: auto;
    height: 4.5rem;
    width: 100%;
    background-color: #444;
    color: white;
    text-align: center;
    border-top: 3px solid rgb(145, 145, 145);
}

footer p{
    margin: 1px 0 0 0;
    padding: 5px 0 0 2px;
}